.bannerdisplay {
	display:block;
	margin:auto;
}
				
.menu_nav {
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	font-family: Roboto;
	margin-left: 320px;
	margin-right: 100px;
}
.menu_nav2 {
	
	font-weight: bold;
	font-size: 140%;
	font-family: 'Dancing Script', cursive;
	margin-right: 40px;
}
.menu_nav--hover:hover {
	transform: scale(1.2);
	transition: 0s;
}

@media (max-width: 1700px){
	.menu_nav {
	font-style: italic;
	font-weight: bold;
	font-size: 140%;
	font-family: Roboto;
	margin-left: 220px;
	margin-right: 90px;
	}
}
@media (max-width: 1500px){
	.menu_nav {
	font-style: italic;
	font-weight: bold;
	font-size: 140%;
	font-family: Roboto;
	margin-left: 110px;
	margin-right: 80px;
	}
}
@media (max-width: 1350px){
	.menu_nav {
	font-style: italic;
	font-weight: bold;
	font-size: 140%;
	font-family: Roboto;
	margin-left: 20px;
	margin-right: 50px;
	}
}
@media (max-width: 1050px){
	.menu_nav {
	font-style: italic;
	font-weight: bold;
	font-size: 140%;
	font-family: Roboto;
	margin-right: 30px;
	}
}