@import "body";


//Header Start
@import "header";
.menu {
	font-size: 15px;
}
.menu_nav {
	font-family: Roboto;
}

.menu_nav--fuente {
	color: black;

}
.menu_nav--hover:hover {
	transform: scale(1.3);
	transition: 1s;
 }
//Header End


//Footer Start
@import "footer";
.redes {
	border: double;
	width: 60px;
	color: black;
}
//Footer End

h2 {
	text-align: center;
	font-size: 40px;
	font-style: italic;
	font-weight: lighter;
	text-decoration: underline;
}

p {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: black;
	text-align: center;
}




.listaflex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.listadiseño {
	margin: 20px;
	background-size: cover;
	font-weight: bold;
	font-size: 120%;
	color: white;
	width: 450px;
}

.listacerveza {
	background-image: url(imagenes/principal/cerveza.jpg);
}

.listavino {
	background-image: url(imagenes/principal/vino.jpg);
}		

.listawhisky {
	background-image: url(imagenes/principal/whisky.jpg);
}

.listagin {
	background-image: url(imagenes/principal/Gin.jpg);
}		

.listavodka {
	background-image: url(imagenes/principal/vodka.jpg);
}		

.listaron {
	background-image: url(imagenes/principal/ron.jpg);
}		

.listachampagne {
	background-image: url(imagenes/principal/champagne.jpg);
}

.listaaperitivos {
	background-image: url(imagenes/principal/aperitivos.jpg);
}

.listatequila {
	background-image: url(imagenes/principal/tequila.jpg);
}



.formulario {
	text-align: center;
}


.box2 {
	border: double 5px; 
	width: 1200px;
	height: 80px;
	color: black;
	margin-left: 320px;
}
	
.box3{
	border: inset 10px #706666;
	width: 1240px;
	height:300px;
	margin: 30px auto 30px auto;
	background-image: linear-gradient(to top, #8855, lightgrey, white);
}	

.categorias_fotos-display {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.flex {
	display: flex;
	flex-direction: row;
}

.flexaside {
	border: inset 5px;
	display: flex;
	flex-direction: column;
	margin: 50px 20px 20px 250px;
	padding: 20px;
}

.flexarticle {
	border: inset 5px;
	display: flex;
	flex-direction: column;
	margin: 50px 250px 20px 0px;
	padding: 20px;
}

.flex1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 200px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: bold;
}

.flex2 {
	border: groove 2px;
	display: flex;
	flex-wrap: row;
	justify-content: center;
	background-image: url(imagenes/ofertas/champagne.jpg);
}

.flex3 {
	border: solid 2px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 10px;
}

.ofertaflex {
	border:groove 1px;
	margin: 10px;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	list-style-type: none;
	text-align: center;
	background-color: lightgrey;
}

.grid2 {
	display: grid;
	grid-template-areas:
		"header header"
		"section1 aside"
		"footer footer";
	grid-template-rows: 4fr 1fr 1fr;
	grid-template-columns: 50% 50%;
	height: 1vh;
	grid-column-gap: 5px;
	grid-row-gap: 5px;

}

.header {
	grid-area: header;
}
.section1 {
	grid-area: section1;
	
}
.aside {
	grid-area: aside;
	}
.footer {
	grid-area: footer;
}

.Item {
	border: inset 1px;
}

.margin {
	display: grid;
	justify-content: center;
	margin-top: 100px;
}

.negronigaleria {
	background-image: url("imagenes/galeria/negroni.jpg");
	background-position: center;
	background-size: 100px;
	background-repeat: no-repeat;
}

.cubalibregaleria {
	background-image: url("imagenes/galeria/cubalibre.jpg");
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
}

.pieldeiguanagaleria {
	background-image: url("imagenes/galeria/pieldeiguana.jpg");
	background-position: center;
	background-size: 100px;
	background-repeat: no-repeat;
}

.sexonthebeachgaleria {
	background-image: url("imagenes/galeria/sexonthebeach.jpg");
	background-position: center;
	background-size: 100px;
	background-repeat: no-repeat;
}


.letra {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: black;
	text-align: center;
}

.letra-hover:hover {
	transform: scale(1.3);
	
 }

.animacion {
	animation-duration: 6s;
	animation-name: novedades;
}

@keyframes novedades {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.aninov {
	animation-name: animate__fadeInDown;
	animation-duration: 6s; 
  	animation-iteration-count: infinite;
  	border: solid 2px black;
  	background-image: radial-gradient(white, grey);
  	margin-top: 50px;
  	margin-bottom: 50px; 
 }


.tituloingresos {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	color: #BF2D0C;
	text-align: center;
}

.categorias_fotos-tamaño {
	width: 400px;
	height: 240px;
}

.lineas {
	border-left: solid 1px;
	border-right: solid 1px;
}

.espacio {
	margin-top: 50px;
	margin-bottom: 30px;
}

.custom-width {
	width: 100%;
	height: 500px;
}

.accor-marg-bord {
	margin-top: 50px;
	margin-bottom: 50px;
	border: groove 1px; 
}

.accord-tragos {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.accord-fuente {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 10px;

}
.preguntas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #8855, lightgrey, white, lightgrey, #8855);
}

@mixin preguntas ($fondo, $ancho){
	background-color: $fondo;
	width: $ancho;
	
	font-family: Roboto;
	display: flex;
	justify-content: center;
	margin: 10px;
}	
.preguntas--1 {
	@include preguntas(#FCF3CF, 900px);	
}
.preguntas--2 {
	@include preguntas(#A9DFBF, 900px);
}
.preguntas--3 {
	@include preguntas(#FBEEE6, 900px);
}
.preguntas--4 {
	@include preguntas(#E8F6F3, 900px);
}
.preguntas--5 {
	@include preguntas(pink, 900px);
}